:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #FFC107;
    --segundario:#0097A7;
    --gris: #757575;
    --color-principal: #3498db;
    --color-secundario: #2ecc71;
    --color-fondo: #f4f4f4;
    --color-texto: #333;
    --fuente-principal: 'Helvetica Neue', Helvetica, Arial, sans-serif, 3.8rem;
}

html{
    font-size: 62.5%;   
}
body{
   font-size: 16px;  /* 1 rem = 10px */
   font-family: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: var(--fuente-principal);
}
 .titulo span{
    font-size: 2rem;
}

.contenedor{
    width: 100rem;
    margin: 0 auto;
}  
.nav-bg{
    background-color: var(--segundario);
}
.navegacion-principal{
    display: flex; /* <-- Lo hace flexible (horizontal) */
    justify-content: space-between;
   
}
.navegacion-principal a {
    /* Agrega estilos a tus enlaces de navegación */
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
     padding: 1rem;
    
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--negro);
}