:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #FFC107;
    --segundario:#0097A7;
    --gris: #757575;
    --color-principal: #3498db;
    --color-secundario: #2ecc71;
    --color-fondo: #f4f4f4;
    --color-texto: #333;
    --fuente-principal: 'Helvetica Neue', Helvetica, Arial, sans-serif, 3.8rem;
}

html{
    font-size: 62.5%;   
}
body{
   font-size: 16px;  /* 1 rem = 10px */
}

.titulo{
    text-align: center;
    font-size: var(--fuente-principal);
    color: var(--primario);
}
 .titulo span{
    font-size: 2rem;
}